.four-not-page .four-not{
  font-size: 15px;
  font-weight: 400;
}

.four-not-page .oops{
  font-size: 64px;
  font-weight: 600;
}

.four-not-page .err-message{
  opacity: .7;
  font-size: 18px;
  font-weight: 400;
}

.four-not-page .back-button{
  width: 25%;
}  

@media (max-width:767.98px){
.four-not-page .back-button{
  width: 50%;
}  
}

@media (max-width: 450px) {
  .four-not-page .back-button{
    width: 100%;
  }  
}