.place-box {
   border-radius: 15px;
   padding: 15px;
}
.place-box-left {
   width: calc(100% - 152px);
   padding-right: 15px;
   color: var(--light-black);
}
.place-box-text-inside {
   max-width: 265px;
}
.place-box-label {
   font-size: 13px;
   line-height: 1.3;
   margin-bottom: 6px;
}
.place-box-title {
   font-size: 20px;
   line-height: 25px;
   color: var(--black);
   margin-bottom: 5px;
}
.place-box-desc-icon {
   width: 20px;
   height: 20px;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0.2;
}
.place-box-desc-box {
   padding-left: 30px;
   font-size: 15px;
   line-height: 1.5;
}
.place-box-desc-item + .place-box-desc-item {
   margin-top: 5px;
}
.place-box-img-holder {
   position: relative;
   width: 100%;
   padding-bottom: 100%;
   border-radius: 10px;
   overflow: hidden;
}
.place-box-img-holder > img {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   object-fit: cover;
}
.place-box-right {
   width: 152px;
}

.place-list {
   padding-left: 27px;
}
.place-item + .place-item {
   margin-top: 10px;
}
.place-list:before {
   content: "";
   width: 1px;
   height: calc(100% - 12px);
   background-image: url(dashed-lines.png);
   position: absolute;
   left: 6px;
   top: 12px;
   background-position: left top;
   background-repeat: repeat-y;
   background-size: 1px 12px;
}
.place-item:before {
   content: "";
   width: 12px;
   height: 12px;
   border-radius: 50rem;
   border: 1px solid #8c8c8c;
   position: absolute;
   left: -27px;
   top: 0;
   background: #fff;
}

.place-btn-group {
   width: 100%;
   gap: 16px;
   margin-top: 15px;
}

.place-btn-group .btn.btn-primary{
   width: calc(57% - 8px);
}
.place-btn-group .btn.btn-del{
   width: calc(43% - 8px);
   color: #F2300A;
   background-color: #FAEFED;
   border-color: #F0C8C0;
}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px) {
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px) {
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width: 767.98px) {
   .place-box-left {
      width: 100%;
      padding-right: 0;
      margin-top: 15px;
      order: 1;
   }
   .place-box-right{
      order: 2;
   }
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width: 575.98px) {
   .place-btn-group{gap: 10px;}
   .place-btn-group .btn{width: calc(50% - 5px);padding: 7px 14px;}
}
