.lpj-page-wrapper:has(.blog-single-hero-container){padding-top: 78px;}
.lpj-page-wrapper:has(.blog-single-hero-container) .lpj-header.lpj-header-white{background: var(--white);box-shadow: 0px 2px 6px 0px rgba(130, 129, 132, 0.1);}

.blog-inner-hero-container{padding: 110px 0 50px;min-height: 360px;background:#6602F2;color:var(--white); font-size: 15px;line-height: 1.4;}
.blog-inner-hero-container{font-size: 18px;font-weight: 400;line-height: 1.6;color: rgba(255, 255, 255, 0.6);}
.blog-inner-hero-container h1{font-size: 48px;line-height: 1.1;color: var(--white);margin-bottom: 0;}
.blog-inner-hero-container p{max-width: 472px;margin: 0 auto;}
.blog-inner-hero-container p span{color: var(--white);}
.blog-ih-bg{ width: 100%;position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
.blog-ih-bg img{width: 100%; height: 100%;object-fit: cover;}
.blog-ih-bg::after{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: rgba(0, 0, 0, 0.5);}
.blog-line-1{position: absolute; left: 0; bottom: 50px; width: 146px;}
.blog-line-1 img{width: 100%; height: 100%;object-fit: contain;}
.blog-line-2{position: absolute; right: 0; top: calc(50% - 34px); transform: translateY(-50%); width: 132px;}
.blog-line-2 img{width: 100%; height: 100%;object-fit: contain;}
.blog-star{position: absolute; left: calc(50% + 176px); top: 89px; transform: translateX(-50%); width: 25px; height: 25px;}
.blog-star img{width: 100%; height: 100%;object-fit: contain;}


.breadcrumb-wrapper{padding: 15px 0;border-bottom: 1px solid rgba(118, 118, 128, 0.12);}
.breadcrumb{font-size: 12px;font-weight: 500;line-height: 1.5;color: rgba(0, 0, 0, 0.4);}
.breadcrumb-item{display: flex;align-items: center;}
.breadcrumb-item + .breadcrumb-item{padding-left:10px;}
.breadcrumb-item + .breadcrumb-item::before{content: '';width: 5px;height: 8px;margin-right: 10px;padding: 0;background-image: url('/images/japan/breadcrumb-chevron.svg');background-repeat: no-repeat;background-position: center;background-size: contain;}
.share-btn{font-size: 12px;font-weight: 500;line-height: 1;color: var(--purple);background: transparent;border: 0;}
.share-btn-icon{width: 16px;height: 16px;}
.share-btn-icon img{width: 100%;height: 100%;object-fit: contain;}


.blog-single-hero-container{padding: 46px 0;font-size: 18px;font-weight: 400;line-height: 1.45;color: rgba(0, 0, 0, 0.7);}
.blog-sh-content{max-width: 770px;}
.blog-sh-content h1{font-size: 48px;line-height: 1;color: var(--black);margin-bottom: 16px;}
.blog-sh-content p:not(:last-child){margin-bottom: 18px;}
.blog-date{font-size: 14px;font-weight: 400;line-height: 1.4;color: rgba(0, 0, 0, 0.4);margin-bottom: 19px;}
.blog-category{padding: 6px 8px;font-size: 14px;font-weight: 400;line-height: 1;color: var(--purple);background: #E8E3F9;border-radius: 8px;}

.blog-single-img-outer{padding: 16px;background: #E8E2F4;border-radius: 20px;}
.blog-single-img{position: relative;border-radius: 16px;overflow: hidden;padding-bottom: 50%;}
.blog-single-img img{width: 100%;height: 100%;object-fit: cover;}

.blog-single-container{padding: 54px 0;}
.bs-content-wrapper{color: rgba(0, 0, 0, 0.7);}
.bs-content-wrapper h4{font-size: 24px;color: var(--black);margin-bottom: 18px;}

.blog-post-box{max-width: 610px;margin: 40px auto;}
.blog-post-box+.blog-post-box{margin-top: 68px;}
.blog-post-head{font-size: 14px;color: rgba(0, 0, 0, 0.7);margin-bottom: 16px;}
.blog-post-head h4{font-size: 24px;color: var(--black);margin-bottom: 0;}

.blog-post-body{font-size: 14px;color: rgba(0, 0, 0, 0.5);font-style: italic;margin-bottom: 14px;}
.blog-post-img-outer{max-width: 418px;margin: 0 auto 14px;padding: 12px;background: #E8E2F4;border-radius: 20px;}
.blog-post-img{position: relative;border-radius: 16px;overflow: hidden;padding-bottom: 133.33%;}
.blog-post-img img{width: 100%;height: 100%;object-fit: cover;}
.blog-post-footer{padding: 10px 8px;border: 1px solid rgba(118, 118, 128, 0.12);border-inline: 0;border-radius: 16px;}
.bp-footer-left{font-size: 12px;color: rgba(0, 0, 0, 0.4);}
.instagram-link{font-size: 14px;font-weight: 500;line-height: 1;color: var(--purple);background: transparent;border: 0;}
.instagram-link> span{font-size: 22px;}
.instagram-link> span img{width: 100%;height: 100%;object-fit: contain;}
.instagram-link:hover{text-decoration: underline;}

.direction-link{font-size: 14px;font-weight: 500;line-height: 1;color: var(--purple);background: transparent;border: 0;}
.direction-link> span{font-size: 16px;}
.direction-link> span img{width: 100%;height: 100%;object-fit: contain;}
.direction-link:hover{text-decoration: underline;}

.subscribe-form-box{position: relative;;padding: 34px 40px;background: #0026D3;border-radius: 30px;overflow: hidden;}
.subscribe-form-box::before{content: '';width: 900px;height: 450px;position: absolute;top: 0;right: -231px;transform: rotate(130.5deg);background: rgba(63, 11, 166, 0.4);}
.sf-content-left{max-width: 341px;}
.sf-content-left h4{font-size: 30px;line-height: 1.2;color: var(--white);margin-bottom: 0;}
.sf-content-right{padding-left: 7%;}
.subscribe-form{padding: 12px 10px 12px 20px;background: var(--white);border-radius: 48px;}
.subscribe-form input{width: 100%;font-family: var(--font-primary);font-size: 14px;font-weight: 600;line-height: 1.4;color: var(--black);background: transparent;border: 0;}
.subscribe-form input::placeholder{opacity: 30%;}
.subscribe-form button.btn{height: 40px;padding: 10px 20px;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
  
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .blog-inner-hero-container h1{font-size: 42px;}
    .blog-line-1{bottom: 25px;}
    .blog-line-2{top: initial; bottom: 0; transform: none;}

    .blog-sh-content h1{font-size: 42px;}
    .blog-single-img-outer{padding: 12px;}
    .blog-single-img{padding-bottom: 60%;}

    .subscribe-form-box{padding: 30px;}
    .subscribe-form-box::before{content: '';width: 900px;height: 450px;position: absolute;top: 0;right: -600px;transform: rotate(130.5deg);background: rgba(63, 11, 166, 0.4);}
    .sf-content-left{max-width: 100%;width: 100%;margin-bottom: 40px;}
    .sf-content-left h4{font-size: 26px;}
    .sf-content-right{width: 100%;padding-left: 0;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
    .breadcrumb-item.active{display: none;}
    .blog-star{left: initial;right: 98px;transform: none;}
}

@media (max-width:389.98px){
    .blog-post-footer{flex-flow: column;}
}