.donate-card-box{padding: 20px;border-radius: 15px;border: 1px solid var(--mid-purple);background: var(--white);}
.donate-card-content{color: var(--light-black);font-size: 15px;font-weight: 500;line-height: 1.2;}
.donate-card-label{margin-bottom: 10px;}