.container{max-width: 1166px;}
.influencer-lp-hero-container{padding: 55px 0 142px;overflow: hidden;}
.ilp-hero-box{padding-top: 154px;}
.ilp-hero-content{font-family: var(--font-secondary);font-size: 20px;color: rgba(17, 17, 17, 0.6);position: relative;z-index: 9;}
.ilp-hero-content h1{font-family: var(--font-tertiary);font-size: 72px;font-weight: 700;line-height: 1.15;color: #111111;margin-bottom: 14px;}
.ilp-hero-content h1 span{display: block;color: var(--purple);}
.ilp-hero-btn-wrap{margin-top: 63px;}
.ilp-hero-btn-wrap .btn{height: auto;padding: 20px 25px;min-width: 250px;font-size: 15px;font-weight: 400;line-height: 1;}
.ilp-hero-btn-wrap + p{font-size: 13px;margin-top: 12px;}
.ilp-hero-icon{width: 90px;height: 90px;padding: 15px;position: relative;background: var(--white);border-radius: 35px;box-shadow: 0px 10px 40px 0px rgba(148, 120, 194, 0.2);position: absolute;}
.ilp-hero-icon img{width: 100%;height: 100%;object-fit: contain;}
.ilp-hero-logo{width: 163px;height: 41px;}
.ilp-hero-logo img{width: 100%;height: 100%;object-fit: contain;}
.ilp-hero-graphic-bg{max-width: 879px;width: 100%;height: 454px;position: absolute;top: 0;left: 50%;transform: translateX(-50%);}
.ilp-hero-graphic-bg img{width: 100%;height: 100%;object-fit: contain;}
.ilp-hero-icon.icon-1{top: 17.6%;left: -5.8%;transform: rotate(-20deg);}
.ilp-hero-icon.icon-1 img{transform: rotate(20deg);}
.ilp-hero-icon.icon-2{top: 2.2%;left: 24.9%;transform: rotate(-4deg);}
.ilp-hero-icon.icon-2 img{transform: rotate(4deg);}
.ilp-hero-icon.icon-3{top: 1.1%;right: 17.5%;transform: rotate(16deg);}
.ilp-hero-icon.icon-3 img{transform: rotate(-16deg);}
.ilp-hero-icon.icon-4{bottom: 4.1%;left: 1.1%;transform: rotate(16deg);}
.ilp-hero-icon.icon-4 img{transform: rotate(-16deg);}
.ilp-hero-icon.icon-5{bottom: 3%;right:  4.3%;transform: rotate(-16deg);padding: 13px;}
.ilp-hero-icon.icon-5 img{transform: rotate(-1deg);}
.ilp-hero-shape-1{width: 23.6%;position: absolute;top: 22.8%;right: 0;}
.ilp-hero-shape-1 img{width: 100%;height: 100%;object-fit: contain;}
.ilp-hero-shape-2{width: 136px;position: absolute;bottom: -17.5%;right: -1.5%;}
.ilp-hero-shape-2 img{width: 100%;height: 100%;object-fit: contain;}

.influencer-lp-intro-container{padding: 80px 0;}
.ilp-intro-wrapper{border-radius: 30px;background: #F8D3D9;overflow: hidden;}
.ilp-intro-content{font-family: var(--font-secondary);font-size: 18px;line-height: 1.55;color: rgba(17, 17, 17, 0.6);width: 42%;padding: 60px 60px 92px;}
.ilp-intro-content h3{font-family: var(--font-tertiary);font-size: 36px;font-weight: 700;line-height: 1.25;color: #111111;margin-bottom: 14px;}
.ilp-intro-img-box{width: 58%;padding-right: 11.8%;}
.ilp-intro-img{width: 315px;position: relative;z-index: 2;}
.ilp-intro-img img{width: 100%;height: 100%;object-fit: contain;position: relative;z-index: 2;}
.ilp-intro-img-back{width: 90%;height: 100%;transform: rotate(-15deg);border-radius: 40px 40px 0 0;position: absolute;left: -46%;bottom: -1.3%;overflow: hidden;z-index: 1;}
.ilp-intro-img-back::after{content: '';width: 32.5%;height: 6%;position: absolute;top: 18px;left: 50%;transform: translateX(-50%);background: #141311;border-radius: 18px;z-index: 6;}
.ilp-intro-img-back img{width: 100%;height: 100%;object-fit: cover;}
.ilp-intro-img-front{background: var(--purple);width: 90%;height: 100%;border-radius: 40px 40px 0 0;position: absolute;left: 5%;top: 4.5%;overflow: hidden;z-index: 3;}
.ilp-intro-img-front::after{content: '';width: 32.5%;height: 6%;position: absolute;top: 13px;left: 50%;transform: translateX(-50%);background: #141311;border-radius: 18px;z-index: 6;}
.ilp-intro-img-front img{width: 100%;height: 100%;object-fit: cover;}


.influencer-lp-steps-container{padding: 78px 0;}
.ilp-steps-content-box h3, .ilp-features-content-box h3{font-family: var(--font-tertiary);font-size: 36px;font-weight: 700;margin-bottom: 44px;}
.ilp-steps-list{width: calc(100% + 30px);margin-left: -15px;margin-bottom: -30px;}
.ilp-steps-item{width: 33.33%;padding: 0 15px;margin-bottom: 30px;}
.ilp-steps-box{min-height: 396px;position: relative;align-items: center;background: #F3EEFB;border: 1px solid #E2D6F5;border-radius: 20px;overflow: hidden;}
.ilp-steps-item:nth-child(even) .ilp-steps-box{background: #F9F6FD;}
.ilp-steps-content{padding: 72px 36px 30px;position: relative;font-family: var(--font-secondary);font-size: 16px;color: #111111;align-self: self-start;position: relative;z-index: 9;}
.ilp-steps-no{font-family: var(--font-tertiary);font-size: 72px;font-weight: 700;line-height: 1.15;color: rgba(34, 19, 65, 0.1);position: absolute;top: 28px;left: 34px;}
.ilp-steps-content h5{font-family: var(--font-tertiary);font-size: 24px;font-weight: 700;line-height: 1.45;margin-bottom: 4px;}
.ilp-steps-img{width: 100%;position: relative;margin-top: -30px;}
.ilp-steps-img img{width: 100%;height: 100%;object-fit: contain;object-position: bottom;}
.ilp-steps-img.img-1{bottom: 0;left: 0;}
.ilp-steps-img.img-2{bottom: 0;left: 0;}
.ilp-steps-img.img-3{bottom: 0;left: 0;}
.ilp-steps-img.img-4{bottom: 0;left: 3px;}
.ilp-steps-img.img-5{bottom: 0;left: 0;}
.ilp-steps-img.img-6{bottom: 0;left: 3px;}


.influencer-lp-features-container{padding: 63px 0;}
.ilp-features-list{width: calc(100% + 30px);margin-left: -15px;margin-bottom: -30px;}
.ilp-features-item{width: 33.33%;padding: 0 15px;margin-bottom: 30px;}
.ilp-features-box{display: flex;flex-flow: column;width: 100%;height: 100%;min-height: 329px;padding: 0 40px;background: var(--white);border-radius: 20px;overflow: hidden;}
.ilp-features-content{font-family: var(--font-secondary);font-size: 16px;color: rgba(17, 17, 17, 0.6);padding: 40px 0 10px;}
.ilp-features-content h4{max-width: 310px;font-family: var(--font-tertiary);font-size: 30px;font-weight: 700;line-height: 1.15;margin-bottom: 9px;color: #111111;}
.ilp-features-content p{max-width: 265px;}
.ilp-features-item:nth-child(4n+4),.ilp-features-item:nth-child(4n+1){width: 66.66%;}
.ilp-features-item:nth-child(4n+4) .ilp-features-box,.ilp-features-item:nth-child(4n+1) .ilp-features-box{flex-flow: row;align-items: center;justify-content: space-between;}
.ilp-features-item:nth-child(4n+4) .ilp-features-box .ilp-features-content,.ilp-features-item:nth-child(4n+1) .ilp-features-box .ilp-features-content{align-self: self-start;}
.ilp-features-item:nth-child(4n+1) .ilp-features-box{background: #F2E2C7;}
.ilp-features-item:nth-child(4n+2) .ilp-features-box{background: #F5D2EB;}
.ilp-features-item:nth-child(4n+3) .ilp-features-box{background: #CFE4F7;}
.ilp-features-item:nth-child(4n+4) .ilp-features-box{background: #DFD2F8;}
.ilp-features-img{margin-top: auto;margin-bottom: -2px;}
.ilp-features-img.img-1{width: 50.8%;}
.ilp-features-img.img-2{width: 100%;}
.ilp-features-img.img-3{width: 100%;}
.ilp-features-img.img-4{width: 51.8%;}
.ilp-features-img img{width: 100%;height: 100%;object-fit: cover;}
.ilp-features-btn-wrap{margin-top: 67px;}
.ilp-features-btn-wrap .btn{height: auto;padding: 20px 25px;min-width: 250px;font-size: 15px;font-weight: 400;line-height: 1;}
.ilp-features-btn-wrap + p{font-size: 13px;margin-top: 12px;}


@media (max-width: 1199.98px) {
    .influencer-lp-hero-container,.influencer-lp-intro-container,.influencer-lp-steps-container,.influencer-lp-features-container{padding: 80px 0;}

    .ilp-hero-content h1{font-size: 64px;}

    .ilp-intro-content{width: 45%;}
    .ilp-intro-img-box{width: 55%;padding-right: 60px;}
}

@media (max-width: 991.98px) {
    .ilp-hero-content h1{font-size: 56px;}
    .ilp-hero-icon{width: 80px;height: 80px;border-radius: 30px;}

    .ilp-intro-content{width: 100%;}
    .ilp-intro-img-box{width: 100%;padding: 0 60px;}
    .ilp-intro-img{width: 60%;}
    .ilp-intro-img-back{border-radius: 12% 12% 0 0;}
    .ilp-intro-img-front{border-radius: 12% 12% 0 0;}

    .ilp-steps-list{width: calc(100% + 24px);margin-left: -12px;}
    .ilp-steps-item{width: 50%;padding: 0 12px;}

    .ilp-features-list{width: calc(100% + 24px);margin-left: -12px;}
    .ilp-features-item,.ilp-features-item:nth-child(4n+4),.ilp-features-item:nth-child(4n+1){width: 50%;padding: 0 12px;}
    .ilp-features-item:nth-child(4n+4) .ilp-features-box,.ilp-features-item:nth-child(4n+1) .ilp-features-box{flex-flow: column;align-items: center;justify-content: space-between;}
    .ilp-features-content h4{max-width: 100%;}
    .ilp-features-content p{max-width: 100%;}
    .ilp-features-img.img-1{width: 100%;}
    .ilp-features-img.img-4{width: 100%;}
}

@media (max-width: 767.98px) {
    .influencer-lp-hero-container,.influencer-lp-intro-container,.influencer-lp-steps-container,.influencer-lp-features-container{padding: 60px 0;}

    .ilp-hero-content h1{font-size: 48px;}
    .ilp-hero-content{font-size: 18px;}
    .ilp-hero-icon{width: 70px;height: 70px;border-radius: 25px;}
    .ilp-hero-shape-1{min-width: 135px;top: 25%;}

    .ilp-intro-content{font-size: 16px;}
    .ilp-intro-content h3{font-size: 30px;}

    .ilp-steps-content-box h3, .ilp-features-content-box h3{font-size: 30px;}

    .ilp-features-box{padding: 30px 30px 0;}
    .ilp-features-content{padding: 0;margin-bottom: 25px;}
    .ilp-features-content h4{font-size: 26px;}

}

@media (max-width: 575.98px) {
    .ilp-hero-box{padding: 150px 0 100px;}
    .ilp-hero-content h1{font-size: 40px;}
    .ilp-hero-icon{width: 60px;height: 60px;border-radius: 20px;}
    .ilp-hero-shape-2{bottom: -10%;}

  
    .ilp-intro-content{padding: 30px 30px 46px;}
    .ilp-intro-content h3{font-size: 26px;}
    .ilp-intro-img-box{padding: 0 30px;}

    .ilp-steps-item{width: 100%;}
    .ilp-features-item,.ilp-features-item:first-child,.ilp-features-item:last-child{width: 100%;}
}