/* Hide the default spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
  /* Optional styling */
  /* text-align: center; */
}

body::-webkit-scrollbar{width: 5px;}
body::-webkit-scrollbar-track{border-radius: 30px;background:rgba(0,0,0,.1);}
body::-webkit-scrollbar-thumb{border-radius:30px;background: var(--primary-color);;}