/* Styles for devices with a min width of 576px */
@media (min-width: 576px) {
  .page-not-found-content .four-not {
    font-size: 30px;
  }
  .page-not-found-content .oops {
    font-size: 40px;
  }
}

/* Styles for devices with a min width of 768px */
@media (min-width: 768px) {
  .page-not-found-content .four-not {
    font-size: 35px;
  }
  .page-not-found-content .oops {
    font-size: 40px;
  }
}

/* Styles for devices with a min width of 992px */
@media (min-width: 992px) {
  /* Add your styles here if needed */
}

/* Styles for devices with a min width of 1200px */
@media (min-width: 1200px) {
  /* Add your styles here if needed */
}

/* Styles for devices with a min width of 1400px */
@media (min-width: 1400px) {
  /* Add your styles here if needed */
}
