

.form-control::-webkit-input-placeholder{color:var(--black);opacity:0.4;}
.form-control::-moz-placeholder{color:var(--black);opacity:0.4;}
.form-control:-moz-placeholder{color:var(--black);opacity:0.4;}
.form-control:-ms-input-placeholder{color:var(--black);opacity:0.4;}
.form-label {margin-bottom: 6px;font-size: 14px; line-height: 1.2; font-weight: 400;}
.form-label span{color: var(--light-black)}
.form-control {height: 48px;border-radius: 10px;font-size: 15px;font-weight: 400;padding: 6px 11px; border:solid 1px var(--light-purple); color: var(--black)}
textarea.form-control {height: 163px;padding: 12px 13px 10px 15px;line-height: 20px;}
.form-control:focus{border-color:var(--purple);box-shadow:none;outline:none!important;}
.input-group .input-group-text{background: transparent; position: absolute; left: 0; top: 0; height: 100%; width: 50px; z-index: 9; border: 0; padding: 5px 10px;}
.input-group .form-control{padding-left: 50px; border-radius: 10px !important;}
.form-select{height: 48px;border-radius: 10px;font-size: 15px;font-weight: 400;padding: 6px 11px; border:solid 1px var(--light-purple);}
.form-select:focus{border-color:var(--purple);box-shadow:none;outline:none!important;}


.otp-group .form-control{width: 52px; height: 69px; border-radius: 15px; text-align: center}


.form-radio-check-group{gap: 12px;}
.custom-radio.form-check{position: relative;margin-bottom: 0;padding-left: 0;}
.custom-radio .form-check-input,.custom-radio .form-check-input:focus,.custom-radio .form-check-input:active{width: 100%;height: 100%;margin-top: 0;border-color: var(--light-purple);margin-left: 0;position: absolute;left: 0;top: 0;border-radius: 10px;box-shadow: none!important;background: transparent!important;filter: none;}
.custom-radio .form-check-input:checked[type=radio]{border-color: var(--purple);background: var(--light-purple)!important;}
.custom-radio .form-check-label{width: 100%;height: 100%;min-height: 38px;position: relative; top: 0;left: 0; display: flex; align-items: center; justify-content: center;font-size: 15px;font-weight: 500;color: #222;opacity: 0.8;padding: 8px 21px;}
.custom-radio .form-check-input:checked+.form-check-label{color: #222; opacity: 1;} 

.custom-radio-2.form-check{position: relative;margin-bottom: 0;padding-left: 0;border-radius: 10px;border: 1px solid var(--light-purple);}
.custom-radio-2 .form-check-input,.custom-radio-2 .form-check-input:focus,.custom-radio-2 .form-check-input:active{width: 14px;height: 14px;margin-top: 0;border-color: var(--light-black);margin-left: 16px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);border-radius: 10px;box-shadow: none!important;background: transparent!important;filter: none;}
.custom-radio-2 .form-check-input:checked[type=radio]{border-color: rgba(111, 39, 255, 0.4);}
.custom-radio-2 .form-check-input:checked::after{content: '';width: 9px;height: 9px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background: var(--purple);border-radius: 50%;}
.custom-radio-2 .form-check-label{width: 100%;height: 100%;min-height: 38px;position: relative; top: 0;left: 0; display: flex; align-items: center; justify-content: center;font-size: 15px;font-weight: 500;color: #222;padding: 8px 21px;padding-left: 38px;}

.form-switch-group{border-radius: 62px;border: 1px solid #D3BEFF;background: #FFF;}
.custom-radio-3.form-check{position: relative;margin-bottom: 0;padding-left: 0;}
.custom-radio-3 .form-check-input,.custom-radio-3 .form-check-input:focus,.custom-radio-3 .form-check-input:active{display: none;}
.custom-radio-3 .form-check-label{width: 100%;height: 100%;min-width: 115px;min-height: 38px;display: flex; align-items: center; justify-content: center;font-size: 15px;font-weight: 500;color: #2E2E2E;padding: 10px 15px;transition: width .2s step-end;white-space: nowrap;}
.custom-radio-3 .form-check-input:checked+.form-check-label{color: #EEE!important;background: var(--purple);border-radius: 60px;} 


textarea.form-control{height: 97px; resize:none;}

.custom-checkbox-list{gap: 10px;}
.custom-checkbox.form-check{position: relative;margin-bottom: 0;padding-left: 0;border-radius: 10px;border: 1px solid var(--light-purple);}
.custom-checkbox .form-check-input{width: 14px;height: 14px;margin-top: 0;position: absolute;left: 0;top: 50%;transform: translateY(-50%); margin-left:16px;border-radius: 2px;border-color:#a4a4a5;border-width: 2px;;;}
.custom-checkbox .form-check-input:focus{box-shadow: none!important;border-color: var(--light-purple);}
.custom-checkbox .form-check-input:checked[type=checkbox] {--bs-form-check-bg-image: url('/images/check-icon.svg');background-repeat: no-repeat;background-position: center!important;background-size: 8px!important;}
.custom-checkbox .form-check-input:checked{background-color: var(--purple);border-color: var(--purple);}
.custom-checkbox .form-check-label{width: 100%;height: 100%;min-height: 38px;position: relative; top: 0;left: 0; display: flex; align-items: center; justify-content: center;font-size: 15px;font-weight: 500;color: #222;opacity: 0.8;padding: 8px 16px;padding-left: 38px;}
.form-check-label{color: rgb(0 0 0 / 80%);cursor: pointer;}


.upload-profile-label{font-size: 14px;font-weight: 500;line-height: normal;margin-bottom: 10px;}
.upload-profile-img{width: 120px;height: 120px;border-radius: 50%;border: 2px dashed var(--light-purple);position: relative;overflow: hidden;}
.user-img{width: 100%;height: 100%;}
.user-icon{width: 50%;height: 50%;position: relative;top: 50%;transform: translateY(-50%);transition: all .2s ease-in;}
.user-img img, .user-icon img{width: 100%;height: 100%;object-fit: cover;}
.upload-profile-img::after{content: '';width: 100%;height: 50%;position: absolute;top: 50%;left: 0;background-color: rgb(0 0 0 / 0.5);background-image: url('/images/camera-icon.svg');background-repeat: no-repeat;background-position: center;background-size: 20px;opacity: 0;transition: all .2s ease-in;}
.upload-profile-img:hover.upload-profile-img::after{opacity: 1;}
.del-lang-icon{width: 44px;color: var(--light-black);font-size: 20px; cursor: pointer;}
.del-lang-icon:hover{color: var(--purple);}
.form-text{font-size: 13px;font-weight: 400;color: var(--light-black);}


.type2.form-label{margin-bottom: 0;font-size: 15px;font-weight: 500;}
.type2.form-control{border: 0;border-radius: 0;color: var(--black);height: 24px;padding: 2px;}
.type2.form-select{border: 0;border-radius: 0;color: var(--black);height: 24px;padding: 2px; padding-right:40px; width: auto;}
.type2.form-text{margin-top: 0;}

.form-control.type-2{background: #FBF9FF;border-color: #E2D4FF;backdrop-filter: blur(25px);font-size: 17px;font-weight: 500;}

.form-select-container{width: 100%;}
.form-select-container .form-select__control{height: 48px !important;border-radius: 10px;font-size: 15px;font-weight: 400;padding: 6px 11px; border:solid 1px var(--light-purple);box-shadow: none;}
.form-select-container .form-select__control:hover{border-color: var(--light-purple);}
.form-select-container .form-select__control.form-select__control--is-focused.form-select__control--menu-is-open{border-color: #6F27FF;}
.form-select-container .form-select__indicator-separator{display:none;}
.form-select-container .form-select__indicator {padding:0;}
.form-select-container .form-select__value-container {padding-left: 0;}
.form-select-container .form-select__menu{padding: 10px;border-radius: 12px;border: 1px solid #EBEFF2;box-shadow: 0px 4px 24px 0px rgba(36,39,66,0.15);padding-right: 6px;}
.form-select-container .form-select__option{padding: 11px 10px;border-radius: 10px;color: #405363;}
.form-select-container .form-select__option:hover, .form-select-container .form-select__option.form-select__option--is-focused{background: #F0E9FF;}
.form-select-container .form-select__option:not(:last-child){margin-bottom: 5px;}

.form-select-container  .form-select__option.form-select__option--is-selected{background: #F0E9FF;position: relative;padding-right: 50px;}
.form-select-container  .form-select__option.form-select__option--is-selected::after{position: absolute;right: 18px;width: 24px;height: 24px;content: '';background-image: url('/images/purple-check-icon.svg');background-repeat: no-repeat;background-size: contain;background-position: center;}

.form-select-container .form-select__menu-list{padding-right: 4px;}
.form-select-container .form-select__menu-list::-webkit-scrollbar{width: 5px;}
.form-select-container .form-select__menu-list::-webkit-scrollbar-track{border-radius: 30px;background:rgba(0,0,0,.1);}
.form-select-container .form-select__menu-list::-webkit-scrollbar-thumb{border-radius:30px;background:#6F27FF;}

.form-select-container.select-2 .form-select__control{border: 0;border-radius: 0;color: var(--black);height: 24px;padding: 2px;}

.form-select-container.multi-select .form-select__control{height: auto;}
.form-select-container.multi-select .form-select__multi-value{background: var(--light-purple);border: 1px solid var(--purple);border-radius: 10px;overflow: hidden;}

.phone-select-group{position: relative;}
.phone-select-group input.form-control {position: relative;padding-left: 60px; border-radius: 10px !important;}
.phone-select-group .phone-select-container{background: transparent; position: absolute; left: 0; top: 50%;transform: translateY(-50%); height: 100%; width: 60px; z-index: 9; border: 0; padding: 5px;padding-left: 10px;}
.phone-select-container .phone-select__control{height: 36px;border-radius: 0;font-size: 15px;font-weight: 400;padding: 0; border: 0;box-shadow: none; width: 100%;}
.phone-select-container .phone-select__indicator {display: none;}
.phone-select-container .phone-select__indicator-separator{margin: 6px 0;}
.phone-select-container .phone-select__value-container{padding: 0;flex-grow: 1;}

.phone-select-container .phone-select__menu{padding: 10px;border-radius: 12px;border: 1px solid #EBEFF2;box-shadow: 0px 4px 24px 0px rgba(36,39,66,0.15);width: 80px;text-align: center;padding-right: 6px;}
.phone-select-container .phone-select__option{padding: 10px;border-radius: 10px;color: #405363;}
.phone-select-container .phone-select__option:hover, .phone-select-container .phone-select__option.phone-select__option--is-focused{background: #F0E9FF;}
.phone-select-container .phone-select__option:not(:last-child){margin-bottom: 5px;}

.phone-select-container  .phone-select__option.phone-select__option--is-selected{background: #F0E9FF;}

.phone-select-container .phone-select__menu-list{padding-right: 4px;}
.phone-select-container .phone-select__menu-list::-webkit-scrollbar{width: 5px;}
.phone-select-container .phone-select__menu-list::-webkit-scrollbar-track{border-radius: 30px;background:rgba(0,0,0,.1);}
.phone-select-container .phone-select__menu-list::-webkit-scrollbar-thumb{border-radius:30px;background:#6F27FF;}



/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
  
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
  
  

  .otp-group .form-control{width: 36px;height: 44px;border-radius: 10px; padding: 0;}
  
  
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){

  
}