.add-btn{border: 0;background: transparent;color: var(--purple);font-size: 13px;font-weight: 500;line-height: 1;}
.add-btn-icon{width: 20px;height: 20px;margin-right: 5px;}
.add-btn:hover{text-decoration: underline;}