.step-nav-list { background-color: var(--lo-white); overflow-x: auto; }
.step-nav-item { width: 25%; max-width: 250px; min-width: 150px; }
.step-nav-box { padding: 16px 25px; border-bottom: 2px solid transparent; }
.step-nav-box-icon { width: 20px; height: 20px;filter: grayscale(1); }
.step-nav-box-text > h6 { font-size: 14px; font-weight: 500; margin-bottom: 0; color: var(--lo-grey); white-space: nowrap; }
.step-nav-item.active .step-nav-box { border-bottom: 2px solid var(--lo-blue); }
.step-nav-item.active .step-nav-box-text > h6 { color: var(--lo-blue); }
.step-nav-item.active .step-nav-box-icon { filter: grayscale(0); }
