.payment-form {
  max-width: 650px;
  margin: auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 10px;
 box-shadow: 0 4px 26px hsla(0, 0%, 40%, .1);
 border-radius: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group.col {
  flex: 1;
  margin-right: 10px;
}

.form-group.col:last-child {
  margin-right: 0;
}

.form-control-dropdown {
  height: 40px;
  font-size: 12px;
  appearance: none; /* Remove default dropdown arrow */
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M5.3 7.3l3.8 3.8 3.8-3.8L14.5 9 10 13.5 5.5 9z'/%3E%3C/svg%3E")
    no-repeat right 10px center; /* Custom arrow */
  background-color: white; /* Dropdown background */
  border: 1px solid #ccc;
  padding-right: 40px; /* Adjust padding for arrow */
  cursor: pointer;
  background-size: 20px 20px;
}

.form-control-dropdown:focus{
  border-color: #3399cc; 
}

.summary {
  margin: 20px 0;
  font-weight: bold;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.secure-info {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #999;
  padding-top: 12px;
  border: 1px solid #cac2c2;
  border-radius: 50px;
  background-color: rgb(247, 247, 247);
  height: 45px;
}
.form-control:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none; 
}

label{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.payment-form select {
  font-size: 12px;
}

.form-error {
  font-size: 12px; /* Adjust the size as needed */
  color: red; /* Optional: Customize the color for better visibility */
}

.form-group.col select, 
.form-group.col input {
  height: 40px; /* Adjust this value to your desired height */
  padding: 8px; /* Ensure padding is consistent */
  font-size: 14px; /* Keep font size consistent */
  line-height: 24px; /* Ensure line height is consistent */
}










