footer{padding: 28px 0;}
.footer-top{padding: 30px 0;border-bottom: 1px solid rgba(157, 158, 187, 0.25);}
.footer-nav-list{gap: 43px;}
.footer-nav-link{font-size: 18px;font-weight: 400;line-height: 1.5;color: var(--lo-white);}
.footer-nav-link:hover{color: var(--lo-blue);}

.footer-bottom{padding: 20px 0;}
.social-links{gap: 68px;}
.social-links li a{font-size: 20px;color: var(--lo-white);}
.social-links li a:hover{color: var(--lo-blue);}
.footer-bottom-top{gap: 52px;}
.fbt-left, .fbt-right{width: 192px;}
.footer-bottom-top{margin-bottom: 12px;}
.footer-bottom-bottom{gap: 20px;}
.footer-logo{width: 224px;}
.copyright{font-size: 18px;font-weight: 400;line-height: 1.2;color: var(--lo-white);}


@media (max-width: 991.98px){
.footer-nav-list{gap: 30px;}
.social-links{gap: 30px;}
}

@media (max-width: 767.98px){
    .footer-bottom{padding: 30px 0;}
    .footer-bottom-top{gap: 40px 20px;margin-bottom: 40px;}
    .social-links{width: 100%;justify-content: center;}
    .fbt-left, .fbt-right{width: calc(50% - 10px);}
}
