.notification-box{padding: 12px 16px;border: 1px solid var(--lo-border-color);border-radius: 10px;font-size: 10px;line-height: 1;color: var(--lo-grey);position: relative;padding-right: 40px;}
.notification-box h5{font-size: 14px;font-weight: 600;line-height: 1;margin-bottom: 5px;}
.notification-box h6{font-size: 12px;font-weight: 400;line-height: 1;margin-bottom: 5px;color: var(--lo-grey);}
.notification-box.unread::after{content: '';position: absolute;top: 50%;right: 16px;transform: translateY(-50%);width: 8px;height: 8px;border-radius: 50%;background: var(--lo-red);}

.notification-page-container .notification-box{font-size: 14px;background: var(--lo-white);}
.notification-page-container .notification-box h5{font-size: 16px;}
.notification-page-container .notification-box h6{font-size: 14px;}

.notification-page-container .notification-filter-row{margin-bottom: 20px;}
.notification-page-container  .notification-badge{font-size: 16px;padding: 10px 20px;}
.notification-page-container .notification-item + .notification-item{margin-top: 24px;}

