.breadcrumb{color: var(--black);display: inline-block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-bottom: 10px;}
.breadcrumb-item + .breadcrumb-item::before{content:'';background: url(chevron-right.svg) no-repeat center/6px 10px;width: 6px;height: 22px;margin-right: 20px;opacity: 0.3;float: none;}
.breadcrumb-item.active{color: var(--light-black);}
.breadcrumb-item{display: inline;}
.breadcrumb-item a{display: inline;}
.breadcrumb-item + .breadcrumb-item{padding-left: 20px;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
  
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){

}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){

  
}