.ttj-inner-hero-container{padding: 116px 0;min-height: 360px;background:#6602F2;color:var(--white);margin-bottom:-88px; font-size: 15px;line-height: 1.4;}
.ttj-inner-hero-container{font-size: 18px;font-weight: 400;line-height: 1.6;color: rgba(255, 255, 255, 0.6);}
.ttj-inner-hero-container h1{font-size: 48px;line-height: 1.1;color: var(--white);margin-bottom: 6px;}
.ttj-inner-hero-container p{max-width: 472px;margin: 0 auto;}
.ttj-inner-hero-container p span{color: var(--white);}
.ttj-ih-img{position: absolute; left: calc(50% + 20px); bottom: 0;transform: translateX(-50%); width: 100%;max-width: 1006px;}
.ttj-ih-img img{width: 100%; height: 100%;object-fit: contain;}
.ttj-line-1{position: absolute; left: 0; bottom: 50px; width: 146px;}
.ttj-line-1 img{width: 100%; height: 100%;object-fit: contain;}
.ttj-line-2{position: absolute; right: 0; top: calc(50% - 34px); transform: translateY(-50%); width: 132px;}
.ttj-line-2 img{width: 100%; height: 100%;object-fit: contain;}
.ttj-star{position: absolute; left: calc(50% + 176px); top: 89px; transform: translateX(-50%); width: 25px; height: 25px;}
.ttj-star img{width: 100%; height: 100%;object-fit: contain;}

.ttj-form-wrapper{width: 100%; max-width: 512px; padding: 30px; margin: 0 auto; background: var(--white); border-radius:30px; box-shadow: 0 4px 36px rgba(101, 101, 101, 0.15);}

.ttj-form-wrapper .custom-radio-2.form-check{background: #F9F9F9;border-color: rgb(111, 39, 255, 0.2);}
.ttj-form-wrapper .custom-radio-2.form-check:has(.form-check-input:checked[type=radio]){background: var(--white);border-color: rgb(111, 39, 255, 0.7);}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
  
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .ttj-line-1{bottom: 25px;}
    .ttj-line-2{top: initial; bottom: 0; transform: none;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
    .ttj-star{left: initial;right: 98px;transform: none;}
}