.alert-wrapper{width: calc(100% - 40px);max-width: 840px;position: fixed;top: 80px;left: 50%;transform: translateX(-50%); z-index: 9999;}
.alert{width: 100%;padding: 22px 20px;box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);}
.alert-content{font-size: 14px;font-weight: 600;line-height: 1.4;color: var(--lo-black);}
.alert-icon{width: 24px;height: 24px;}
.alert-close{width: 38px;height: 38px;background: var(--lo-white);border: none;padding: 12px;border-radius: 50%;box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);}

.alert-success {background: #F6FFF9;border-color: #48C1B5;}
.alert-warning {background: #FFF8EC;border-color: #F7D9A4;}
.alert-danger {background: #FFF6F6;border-color: #F05A5A;}
.alert-info {background: #F0F9FF;border-color: #00AEEF;}
