.accordion-card-box{width: 100%;border-radius:15px;background: var(--white);border: solid 1px #E6E6E6;}
.acb-item{border-radius: 15px 15px 0px 0px;border-top: 1px solid #F6EFFF;}
.acb-head{padding: 15px; position: relative;}
.acb-head h3{font-size: 17px;line-height: 1.25;margin: 0;display: flex;align-items: center;padding-right: 100px; }
.acb-close{position: absolute;top: 15px;right: 12px;color: var(--light-black);font-size: 20px;line-height: 1;cursor: pointer;}
.acb-close:hover{color: var(--purple);}
.acb-body{padding: 20px 40px;border-top: solid 1px #F6EFFF; } 

.acb-item .acb-head.collapsed .acb-close{display: none;}
.acb-item .acb-head .acb-close{display: block;}

.buy-card-box{padding: 20px;border-radius: 15px;border: 1px solid var(--mid-purple);background: var(--white);}
.buy-card-text h6{color: var(--light-black);font-size: 13px;font-weight: 500;line-height: 1.2;margin-bottom: 2px;}
.buy-card-text h3{color: var(--black);font-size: 24px;font-weight: 700;line-height: 1.2;margin-bottom: 0;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
}

/*==========================================

! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){ 
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){  
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){ 
.acb-body{padding: 20px;}
}