@import "tailwindcss";
  
  @theme {
    --color-black: #18181b;
    --color-white: #fff;
    --color-grey: #afafaf;
    --color-first: #242c2e;
    --color-second: #d9eddf;
    --color-third: #2ecc71;
    --color-fourth: #7edca4;
    --font-oswald: 'Oswald', sans-serif;
    --font-varelaRound: 'Varela Round', sans-serif;
  }
   

@layer base {
  
  /* =================reset css starts here=================  */
  *{@apply m-0 p-0}
  html{scroll-behavior: smooth;scroll-padding-top: 70px;}
  h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{@apply m-0 p-0 outline-0 border-0}
  a{@apply no-underline border-0 outline-0}
  ul{@apply list-none}
  a:focus,input:focus,textarea:focus,*:focus{@apply outline-none}
  img {-webkit-user-drag: none;}
  /* =================reset css ends here================= */
  /* =================core css starts here================= */
  body{@apply min-h-screen font-varelaRound text-sm font-normal leading-normal text-white bg-gradient-to-b from-[#111827] to-[#1F2937] antialiased}
  a,input,button{@apply inline-block no-underline text-inherit outline-0 transition-all duration-200 ease-in;}
  a img{@apply border-0}
  a:hover{@apply outline-0 text-first no-underline}
  a:active{@apply outline-0 no-underline}
  a:focus{@apply outline-0 outline-offset-0 no-underline text-inherit}
  ::-webkit-input-placeholder{@apply text-first/50}
  ::-moz-placeholder{@apply text-first/50}
  :-moz-placeholder{@apply text-first/50}
  :-ms-input-placeholder{@apply text-first/50}
  img{@apply max-w-full border-0 h-auto}
  h1,h2,h3,h4,h5,h6{@apply m-0 p-0 mb-6 font-oswald leading-[1.2] font-semibold text-inherit}
  h1{@apply text-[58px] font-extrabold}
  h2{@apply text-5xl}
  h3{@apply text-[40px]}
  h4{@apply text-3xl}
  h5{@apply text-2xl}
  h6{@apply text-xl}
  p{@apply m-0 p-0 mb-6 text-grey}
  strong{@apply font-bold}
  b{@apply font-normal}
  p:last-child{@apply mb-0}
 
}

@layer utilities{
  .container{@apply w-[calc(100%-36px)] max-w-[1320px] mx-auto;}
}

@layer components{
  
  .btn {min-width: 160px;padding: 14px 16px;font-family: var(--font-varelaRound);font-size: 18px;font-weight: 500;line-height: 1;border: solid 2px transparent;border-radius: 10px;}
  .btn-primary {background: var(--color-third);border-color: var(--color-third);color: var(--color-white);}
  .btn-primary:hover {border-color: var(--color-third);background: var(--color-third);color: var(--color-white);}
  .btn-secondary {background: var(--color-first);border-color: var(--color-first);color: var(--color-white);}
  .btn-secondary:hover {border-color: #333;background: #333;color: var(--color-white);}
  .btn-outline {background: transparent;border-color: var(--color-white);color: var(--color-white);}
  .btn-outline:hover {border-color: var(--color-white);background: var(--color-white);color: var(--color-black);}
  .btn-green {background: var(--color-first);color: var(--color-second);}
  .btn-green:hover {border-color: var(--color-first);background: var(--color-first);color: var(--color-second);}
  .btn.btn-sm {padding: 14px 16px;min-width: auto;}
  .btn.btn-lg {padding: 14px 40px;min-width: 240px;}
  .btn-icon{display: flex;align-items: center;justify-content: center;}
  .btn.has-icon {display: flex;gap: 10px;align-items: center;justify-content: center;}

  .btn{font-size: 16px;font-weight:700;line-height: 1;box-shadow:none;transition:all 0.2s ease-in;text-align: left;border-radius:8px;cursor: pointer;}
  .btn:has(.btn-icon){display: flex;align-items: center;justify-content: space-between;gap: 16px;}
  .btn:focus{box-shadow:none;}
  .btn.btn-block:has(.btn-icon){min-width:100%;justify-content: center;}  
  .btn-link{color: var(--color-white);text-decoration: underline;}
  .btn-link:hover{color: var(--color-white);text-decoration: none;}
  
  
  .content-container{@apply py-20}
  .content-container + .content-container{@apply pt-0}
  .main-container{@apply w-full h-[calc(100dvh-80px)] pt-20;}
  /* =================core css ends here================= */
  
  .heading{@apply font-oswald text-[32px] font-bold leading-none mb-6}

  
  .form-label{@apply w-[140px] mb-2}
  form span {@apply h-10 float-left inline-flex items-center text-first}
  input.form-control {@apply float-right w-full h-10 rounded-[10px] border text-sm text-center}
  .errorcss {@apply text-sm text-[red]}
  input.form-control:focus{@apply shadow-none border-[#C20E0E]}

  .brand-head{font-size: 48px;font-weight: 700;line-height: 1.2;margin-bottom: 32px;}
  .landing-content-box h3{font-weight: 500;margin-bottom: 40px;}  
  .landing-btn-wrap{margin-bottom: 32px;}
  
  .form-group{position: relative;}
  .form-group+.form-group{margin-top: 16px;}
  .form-control, .form-control:focus{padding: 12px 16px;font-size: 16px;font-weight: 500;line-height: 1;color: var(--color-white);background-color: rgba(255, 255, 255, 0.1);border-color: rgba(255, 255, 255, 0.25);box-shadow: none;}
  .form-control::placeholder {color: var(--color-grey);opacity: 1;}
  .form-control:focus{background-color: rgba(255, 255, 255, 0.2);border-color: var(--color-white);color: var(--color-white);}
  
  
  .content h1 {color: var(--color-third);font-size: 60pt;line-height: 1;}
  .content h2 {font-size: 20pt;color: var(--color-first);}
  
  .custom-table{min-width: 767px;}                                    
  .custom-table .table > :not(caption) > * > * {border: 2px solid var(--color-second);}
  .custom-table table thead th {color: var(--color-second);background: var(--color-first);}
  .custom-table table tbody tr:nth-child(even) td {color: var(--color-second);background: var(--color-first);}
  .custom-table table tbody tr:nth-child(odd) td{color: var(--color-first);background: var(--color-fourth);}
  
  .badge{font-size: 16px;font-weight: 500;background: var(--color-third);color: var(--color-white);padding: 6px 12px;border-radius: 6px;}
  
  .blog-list{width: calc(100% + 20px);margin-left: -10px;margin-bottom: -20px;}
  .blog-item{width: 33.33%;padding: 0 10px;margin-bottom: 20px;}
  .blog-box{width: 100%;height: 100%;padding: 20px;border: 1px solid grey;font-size: 16px;border-radius: 20px;text-transform: capitalize;}
  .blog-box h3{font-size: 18px;border-radius: 50%;background: lightblue;width: 30px;height: 30px;margin-bottom: 20px;}
  .blog-box h2{font-size: 22px;text-transform: capitalize;margin-bottom: 20px;}
  
  .pagination {display: flex;justify-content: center;align-items: center;margin: 40px 0;}
  .pagination .page-link {display: flex;align-items: center;height: 40px;padding: 0.5rem 1rem;color: #fff;border: 1px solid #ccc;cursor: pointer;}
  .pagination .page-link:hover {background: var(--color-second);color: var(--color-first);}
  .pagination .page-item.active .page-link {background: var(--color-white);color: var(--color-first);}
  .pagination .page-item:first-child .page-link {border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;border-right: 0;}
  .pagination .page-item:last-child .page-link {border-top-right-radius: 0.25rem;border-bottom-right-radius: 0.25rem;}

  .table {width: 100%;margin-bottom: 1rem;vertical-align: top;border-color: #4d5154;}
  .table-dark {color: var(--color-white);border-color: #4d5154;}
  .table>:not(caption)>*>* {padding: .5rem .5rem;color: var(--color-white);background-color: #212529;border-bottom-width: 1px;box-shadow: inset 0 0 0 9999px transparent;}
  .table>thead {border-top-width: 1px;vertical-align: bottom;}
  
}
  
