.mp-img{width: 176px; height: 176px; padding: 8px; background: #fff;   margin-bottom: 15px; -webkit-mask-image: url(profile-shape.svg); mask-image: url(profile-shape.svg); -webkit-mask-size: 100% 100%; mask-size: 100% 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: right; mask-position: right;}
.mp-img-inner{width: 160px; height: 160px; margin-bottom: 15px; -webkit-mask-image: url(profile-shape.svg); mask-image: url(profile-shape.svg); -webkit-mask-size: 100% 100%; mask-size: 100% 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: right; mask-position: right;}
.mp-img img{width: 100%; height: 100%; object-fit: cover; object-position: top;}
.my-profile-head{font-size: 13px; line-height: 1.4; color: var(--light-black)}
.mp-name{font-size: 20px; line-height: 1;font-weight: 600; color: var(--black);}
.mp-tags{color: var(--black);}
.mp-coupon{color: #6B587F;}
.mp-social-list{font-size: 18px; line-height: 1; gap: 20px;}
.summary-list{width: calc(100% + 12px); margin-left: -6px; margin-bottom: -12px;}
.summary-item{width: 25%; padding: 0 6px; margin-bottom: 12px;}
.summary-box{width: 100%;height: 100%;border: solid 1px #E9E6EF;border-radius: 10px;padding: 15px 15px;font-size: 13px;line-height: 1.4;color: #9F9BA3;}
.summary-box h3{font-size: 20px;line-height: 1.2;margin-bottom: 8px;color: var(--black);}

.newsletter-modal.offcanvas.offcanvas-end{max-width: 683px;}
.newsletter-head{padding: 20px 30px;background: var(--white);box-shadow: 0px 8px 16px 0px rgba(125, 112, 176, 0.10);}
.newsletter-head h5{color: var(--black);font-size: 18px;font-weight: 600;line-height: 1.25;margin-bottom: 0;}
.modal-close-btn{width: 24px;height: 24px;border: 0;background: transparent;color: var(--black);}
.modal-close-btn svg{width: 100%;height: 100%;}
.modal-close-btn:hover{color: var(--purple);}
.newsletter-body{padding: 36px 30px;}
.nb-form-label{color: var(--light-black);font-size: 13px;font-weight: 500;line-height: 1.25;margin-bottom: 6px;}
.nb-form-control {min-height: 40px;color: var(--black);font-size: 15px;font-weight: 500;line-height: 1.25;padding: 7px 11px;border: solid 1px var(--mid-purple);border-radius: 8px;}
.nb-textarea {min-height: 40px;color: var(--black);font-size: 14px;font-weight: 400;line-height: 1.71;padding: 20px 16px;border: solid 1px var(--mid-purple);border-radius: 8px;}
.nb-textarea span{font-size: 16px;font-weight: 600;line-height: 1.37;}
.nb-textarea p:not(:last-child){margin-bottom: 12px;}
.nb-form-control+.nb-textarea{margin-top: 20px;}
.newsletter-footer{padding: 0 30px;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
    .summary-item{width: 50%;}
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
  
  
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){
    .summary-item{width: 100%;}
    .newsletter-head{padding: 20px;}
    .newsletter-body{padding: 36px 20px;}
    .newsletter-footer{padding: 0 20px;}
  
}
