.lpj-blog-head{font-size: 18px;color: rgba(0, 0, 0, 0.7);margin-bottom: 44px;}
.lpj-blog-head h3{font-size: 36px;line-height: 1.15;color: var(--black);margin-bottom: 6px;}

.lpj-blog-list{width: calc(100% + 24px);margin-left: -12px;margin-bottom: -24px;}
.lpj-blog-item{width: 33.33%;padding: 0 12px;margin-bottom: 24px;}
.lpj-blog-box{min-height: 437px;position: relative;background: #E8E2F4;border: 12px solid #E8E2F4;border-radius: 20px;}
.lpj-blog-img{width: 100%;height: calc(100% - 65px);position: absolute;top: 0;left: 0;border-radius: 16px;overflow: hidden;}
.lpj-blog-img img{width: 100%;height: 100%;object-fit: cover;transition: all .2s ease-in;}
.lpj-blog-box:hover .lpj-blog-img img{transform: scale(1.05);}
.lpj-blog-content{max-width: 236px;position: relative;z-index: 1;padding: 12px 10px 24px;background: #E8E2F4;border-radius: 20px 20px 0 0;margin: 0 0 -1px -1px;}
.lpj-blog-content h4{font-size: 24px;line-height: 1.25;margin-bottom: 0;color: var(--black);}

.lpj-blog-list + .lpj-blog-cta{margin-top: 48px;}

/* ========================================== 
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width:1199.98px){
  
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width:991.98px){
}

/* =================================================  
! Small devices (landscape phones, less than 768px)
================================================= */
@media (max-width:767.98px){
    .lpj-blog-head h3{font-size: 32px;}
    .lpj-blog-item{width: 100%;padding: 0 12px;}
}

/* ======================================================
! Extra small devices (portrait phones, less than 576px)
====================================================== */
@media (max-width:575.98px){

}